# EmailJS Configuration
# Get these values from https://www.emailjs.com/

VITE_APP_EMAILJS_SERVICE_ID=service_8ug444i
VITE_APP_EMAILJS_TEMPLATE_ID=template_71h80qv
VITE_APP_EMAILJS_PUBLIC_KEY=YRyEPxYANOPeJMfCz
